

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}


.PlayerWrapper{
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.CardWrapper{
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
}

.comment-box{
  max-width: 600px;
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0);
  margin-bottom: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.code-link{
  max-width: 600px;
  text-align: left;
}
.code-link a{
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.code-link a:hover{
  text-decoration: underline;
}